services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped

    env_file:
      - .env

    environment:
      ROCKET_TLS: '{certs="/certs/vaultwarden.lab.crt",key="/certs/vaultwarden.lab.key"}'

    ports:
      - "8443:80"

    volumes:
      - vaultwarden_data:/data
      - ./certs:/certs:ro

volumes:
  vaultwarden_data:
